body {
  font-family: "Arial", sans-serif;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.level-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.level-one__header {
  width: 70%;
  margin: 0;
  flex-grow: 1;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.level-one__card {
  width: 100%;
}

.card {
  padding: 15px;
  border: 1px solid #eeeeee;
}

.card p {
  margin: 0;
  margin-bottom: 10px;
}
